    <div class="col-sm-3 sidenav">
      <div class="panel">
        <div class="panel-heading">
         <h3 class="panel-title"><b>Trending</b></h3>
        </div>
        <div class="panel-body">
          <ol class="list-group">
              {% for ab in a %}
                <li  class="list-group-item"><a href="/tweetling/?q={{ ab }}">{{ ab }}</a> </li>
              {% endfor%}
            <!--<li class="list-group-item"> <a href="#">#Twitter</a> </li>
            <li class="list-group-item"> <a href="#">#Amazon</a>  </li>-->
          </ol>
        </div>
      </div>
    </div>